.media-player {
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

