.media-player {
    height: 500px;
    width: 300px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    position: relative;
}
.album-cover {
    width: 100%;
    height: 100px;
    background-color: green;
    flex:4;
}

.album-cover img{
    position: relative;
    width: 100%;
    height: 100%;
}

.media-info {
    width: 100%;
    height: 100px;
    background-color: grey;
    flex:1;
}

.media-controls {
    width: 100%;
    height: 100px;
    background-color: blue;
    flex:1;
}
