.media-controls {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 10px;
}

.buttons svg rect,
polyline,
polygon {
    stroke: white;
    stroke-width: 0.8px;
}

.seek-bar {
    position: relative;
    padding: 10px;
    color: white;
    font-size: 13px;
}

.seek-bar .from {
    position: absolute;
    top: -15px;
    left: 0;
}

.seek-bar .to {
    position: absolute;
    top: -15px;
    right: 0;
}
.seek-bar .wrapper {
    height: 5px;
}

.seek-bar .container {
    background-color: rgb(47, 32, 32);
    height: 5px;
}

.seek-bar .container > div:first-of-type {
    background-color: rgb(216, 216, 216) !important;
}

.seek-bar .label {
    display: none !important;
}

.play {
    order: 1;
    width: 50px;
}
.next {
    order: 2;
    width: 20px;
}
.previous {
    width: 20px;
    order: 0;
    transform: rotate(180deg);
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 10px;
}

.volume-slider {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100% !important;
}

input[type="range"] {
    width: 100% !important;
    -webkit-appearance: none;
    height: 5px;
    background: rgb(47, 32, 32);
    background-image: linear-gradient(#fafafa, #ffe8e0);
    background-size: 70% 100%;
    background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255) ;
    cursor: ew-resize;
    transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}
