.media-info {
    flex: 1;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
}

.info {
    color: white;
    display: flex;
    flex-direction: column;
}

.share {
    color: white;
    border: 1px solid green;
}

.info .title{
    font-size: 30px;
}

.info .artist{
    font-size: 15px;
}